@model SistemaWeb.Models.Cancha

@{
    ViewData["Title"] = "Create";
}

<h1  style="text-align:center;font-size:30px;color:aliceblue; font-family:'Times New Roman';">Registrar Cancha</h1>

<h4>Cancha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" style="" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_Cancha" class="control-label"></label>
                <input asp-for="Numero_Cancha" class="form-control" />
                <span asp-validation-for="Numero_Cancha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<style>

    .row{
        width:600px;
        height:200px;
        border-radius:25px;
        backdrop-filter:contrast(0.15);
        margin:auto;
    }

    .col-md-4{
        margin:auto;
        background-position-x:center;
       
        
    }
</style>
<div>
    <a asp-action="Index">Volver</a>
</div>

