@model SistemaWeb.Models.Cancha

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cancha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_Cancha" class="control-label"></label>
                <input asp-for="Numero_Cancha" class="form-control" />
                <span asp-validation-for="Numero_Cancha" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Esta_Ocupado" /> @Html.DisplayNameFor(model => model.Esta_Ocupado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FotoFile" class="control-label"></label>
                <input asp-for="FotoFile" class="form-control" accept="image/*" />
                <span asp-validation-for="FotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

