
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
       
    <link rel="stylesheet" href="~/css/style.css"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    </head>
    <body>
    <header class="header">
        <!--<nav class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>-->
        <!--<form action="#" class="search-bar">
              <input type="text" placeholder="Search.." />
              <button type="submit">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </button>
          </form>-->
          </header>
    <div class="background"></div>
    <div class="container">
        <div class="content">

            <div class="text-sci">
                <h2>¡Bienvenidos a la cancha de Wally ANDYNA! </h2>
                <p>
                    Nos complace recibirles en nuestro complejo deportivo, un espacio diseñado para brindarles las mejores experiencias deportivas y de entretenimiento. Aquí en Wally ANDYNA, estamos comprometidos con la excelencia, ofreciendo instalaciones de primer nivel y un ambiente amigable y acogedor para todos nuestros visitantes.

                    Esperamos que disfruten de su tiempo con nosotros, ya sea participando en emocionantes partidos, entrenando, o simplemente relajándose en nuestras cómodas instalaciones. Nuestro objetivo es asegurar que cada visita sea memorable y satisfactoria.

                    ¡Gracias por elegir la cancha de Wally ANDYNA! ¡Disfruten de su estancia y que comiencen los juegos!
                </p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="logreg-box">
            <div class="form-box login">
                <form  asp-action="Login" asp-controller="Login" method="post">
                    <h2>Iniciar sesión</h2>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" id="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" id="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Recuerdame</label>

                    </div>
                    <button class="btn" type="submit">Iniciar sesion</button>
                    @if (TempData["LoginError"] != null)
                    {
                        <div class="alert alert-danger">@TempData["LoginError"]</div>
                    }
                </form>
            </div>
        </div>

    </div>
    <script src="script.js"></script>
    

    </body>
</html>
