@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class=" Opaco "
     <h1 class="display-4">Bienvenido!</h1>
     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</style>
   </div>
</div>
<div class="bor">
    <p class="par">
        ¡Bienvenido al complejo deportivo ANDyNa!<br />
        ¡ SEA USTED BIENVENIDO AL SISTEMA !<br />
        Aquí es donde la diversión y el deporte se encuentran.<br /><br /><br />
        Nos alegra tenerte con nosotros. <br />
        Aquí encontrarás las mejores instalaciones y un ambiente <br />
        amigable para disfrutar del wally y otros deportes. <br />
        ¡Esperamos que disfrutes de tu tiempo y vivas una experiencia<br />
        deportiva inolvidable!<br />
    </p>

</div>
<style>
    .bor {
        width: 600px;
        backdrop-filter: contrast(0.6);
    }

    .par {
        margin-top: 40px;
        font-family: 'Times New Roman';
        font-size: 20px;
        color: white;
    }

    .nav {
        background-position-x: 100%;
        background-color: red;
    }