@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="bor">
    <p class="par">
        - Soporte Tecnico.- Envie cualquier pregunta o problema técnico de manera privada. <br />
        Agradecemos la oportunidad de trabajar con usted y estamos aquí para ayudarle en cada paso del camino. <br />
        Si tiene alguna pregunta o comentario, no dude en ponerse en contacto con nuestro equipo de soporte técnico. <br />

        <br /> <br /> <br />

        ¡Gracias por confiar en nuestros servicios!
    </p>

</div>
<style>
    .bor {
        width: 600px;
        backdrop-filter: contrast(0.6);
    }

    .par {
        margin-top: 40px;
        font-family: 'Times New Roman';
        font-size: 20px;
        color: white;
    }

   
</style>