@model SistemaWeb.Models.Alquiler

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center;font-weight:700;color:aliceblue;margin-top:18px; font-family:'Times New Roman';">Modificar Alquiler</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero_Recibo" class="control-label"></label>
                <input asp-for="Numero_Recibo" class="form-control" />
                <span asp-validation-for="Numero_Recibo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad_Hora" class="control-label"></label>
                <input asp-for="Cantidad_Hora" class="form-control" />
                <span asp-validation-for="Cantidad_Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desde" class="control-label"></label>
                <input asp-for="Desde" class="form-control" />
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta" class="control-label"></label>
                <input asp-for="Hasta" class="form-control" />
                <span asp-validation-for="Hasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo_Total" class="control-label"></label>
                <input asp-for="Costo_Total" class="form-control" />
                <span asp-validation-for="Costo_Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanchaId" class="control-label"></label>
                <select asp-for="CanchaId" class="form-control" asp-items="ViewBag.CanchaId"></select>
                <span asp-validation-for="CanchaId" class="text-danger"></span>
            </div>
            <div class="modificar">
                <input type="submit" value="Aceptar" class="btn" />
            </div>
        </form>
    </div>
</div>

<div class="volver">
    <a asp-action="Index">Volver</a>
</div>
<style>
    body {
    }

    .col-md-4 {
        background-position: center;
        border-radius: 25px;
        margin: auto;
        backdrop-filter: contrast(0.17);
    }

    .volver {
        width: 97px;
        height: 40px;
        text-align: center;
        border: 3px solid black;
        border-radius: 15px;
        background-color: #ffbb00;
        margin: -60px 300px;
        text-decoration: none;
    }

    .volve a {
        width: 100px;
        height: 60px;
        text-align: center;
        border: 3px solid black;
        border-radius: 15px;
        background-color: #ffbb00;
        margin: 20px 200px;
        text-decoration: none;
    }

    .modificar {
        width: 100%;
        height: 60px;
    }

    .btn {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        background-color: #0b4c8a;
    }

    .parrafo {
        width: 180px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
        margin: 0 40px;
        border: solid 2.5px #ffff;
        background-color: #84fa16;
    }

</style>

