@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/stkyleHome.css" rel="stylesheet" />
    
</head>
<body>
    <h1 style="text-align:center; color:white;"> 
        Ubicacion de la Cancha
    </h1>
     <div class="ubi">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d980.0422264502807!2d-67.11528134583155!3d-17.98391272667237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e2b1fe49b81785%3A0xa41b927ad2f4540e!2sRAQUET%20WALLY%20R.D.J.!5e1!3m2!1ses!2sbo!4v1720128590343!5m2!1ses!2sbo" width="400" height="250" style="border:0;border-radius:20px; border: 10px solid #e4e9f2; margin:1px 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="Volver">
        <a asp-action="Index">Volver</a>
    </div>
    <style>
        
        .Volver {
            width: 97px;
            height: 40px;
            text-align: center;
            border: 3px solid black;
            border-radius: 15px;
            background-color: #ffbb00;
            margin: 1px 100px;
            text-decoration: none;
        }
    </style>
</body>
</html>